.login-container {
  width: 100%;
  display: flex;
}

.login-container > div {
  display: flex;
  flex-grow: 1;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container:first-child {
  background-color: red;
}

.icon-container {
  width: 100%;
}

.icon-container > * {
  display: flex;
  align-items: center;
}

.icon-container > * > * {
  height: 100%;
}

.modal {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
